*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.tabela table{
    /* margin-top: 20px;
    max-width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.tabela table, td, th, tr {
    border: 3px solid #000000;
    color: white;
    text-align: center;
}
.tabela td, th{
    padding: 5px;
}
.tabela tr {
    background-color: green;
  
}

.tabela tr:hover {
    background-color: blue;
}